<script type="text/javascript" src="{{ '/assets/js/jquery.js' | relative_url }}" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ '/assets/js/jquery-migrate.js' | relative_url }}" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ '/assets/js/jquery-appear.js' | relative_url }}" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ '/assets/js/medium-zoom.js' | relative_url }}" crossorigin="anonymous"></script>
{% include math.html %}
{% include analytics.html %}
