<div class="page-top animated fadeInDown">
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    <ul class="nav" id="navMenu">
        {% assign current_url = page.url %}
        {% for item in site.menu %}
        {% assign active = false %}
        {% if current_url == item.url %}
        {% assign active = true %}
        {% endif %}
        <li><a href="{{ item.url }}" class="{% if active %}current{% endif %}" {% if item.url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif %} title="{{ item.title }}">{{ item.name }}</a></li>
        {% endfor %}
        <li class="theme-switch-item">
            <a class="theme-switch" title="Switch Theme">
                <i class="fa fa-adjust fa-fw" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>