---
layout: default
---

<div class="archive animated fadeInDown">
    <ul class="list-with-title">
        {% assign current_year = 0 %}
        {% for post in page.posts %}
        {% assign post_update_year = post.update | date: "%Y" %}
        {% if current_year != post_update_year %}
        {% assign current_year = post.update | date: "%Y" %}
        <div class="listing-title">{{ current_year }}</div>
        {% endif %}
        <ul class="listing">
            <div class="listing-item">
                <div class="listing-post">
                    <a href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title }}</a>
                    <div class="post-time"><span class="date">{{ post.published | date: "%b %d" }}</span></div>
                </div>
            </div>
        </ul>
        {% endfor %}
    </ul>
</div>
